.title{
    border: 2px solid white;
    border-radius: 4px;
    margin: 5px;
    padding: 2px;
}
.description{
    border: 2px solid white;
    border-radius: 4px;
    margin: 5px;
    padding: 2px;
    height: 100px;
    width: 200px;
}
        
#addService{
    position: relative;
    left:120px;
    top:70px;
    background-color: rgb(44, 50, 56);
    
    
}
#button{
    display: flex;
    justify-content: center;
}